process {
    withName: '.*:DEDUP_UMI_UMITOOLS_TRANSCRIPTOME:UMITOOLS_DEDUP' {
        ext.args = { meta.single_end ? '' : '--unpaired-reads=discard --chimeric-pairs=discard' }
        ext.prefix = { "${meta.id}.umi_dedup.transcriptome.sorted" }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/umitools" },
            mode: params.publish_dir_mode,
            pattern: '*.tsv'
        ]
    }

    withName: '.*:DEDUP_UMI_UMITOOLS_GENOME:UMITOOLS_DEDUP' {
        ext.args = { meta.single_end ? '' : '--unpaired-reads=discard --chimeric-pairs=discard' }
        ext.prefix = { "${meta.id}.umi_dedup.sorted" }
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/umitools" },
                mode: params.publish_dir_mode,
                pattern: '*.tsv'
            ],
            [
                path: { "${params.outdir}/${params.aligner}" },
                mode: params.publish_dir_mode,
                pattern: '*.bam',
                enabled: (
                    params.save_align_intermeds ||
                    params.skip_markduplicates ||
                    params.save_umi_intermeds
                )
            ]
        ]
    }
}