process {
    withName: '.*:QUANTIFY_LEAFCUTTER:LEAFCUTTER_CLUSTERINTRONS' {
        ext.args = { '--nochromcheck' }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/leafcutter" },
            mode: params.publish_dir_mode,
            pattern: 'leafcutter*.gz'
        ]
    }
}
