// includeConfig '/mnt/sas0/AD/lalli/nf_stage/rnaseq_JLL/nextflow.config'
params {
    input = '/mnt/sas0/AD/lalli/nf_stage/rnaseq_JLL/trimmed_brainvar_fastqs_corrected_samples_with_sex.csv'
    outdir = '/mnt/sas0/AD/lalli/reference_comparison_results/T2Tv2_leung_ncbi110_personalized_oldcalls'
    fasta = '/mnt/sas0/AD/lalli/nf_stage/genome_refs/T2T-CHM13_v2_ncbi110/GCF_009914755.1_T2T-CHM13v2.0_genomic_with_MT.fasta'
    gtf = '/mnt/sas0/AD/lalli/nf_stage/genome_refs/T2T-CHM13_v2_ncbi110/NCBI110_Leung_T2T.gtf'
    vcf = '/mnt/sas0/AD/lalli/nf_stage/genome_refs/testvcf.nostars.vcf.gz'
    vcf_index = '/mnt/sas0/AD/lalli/nf_stage/genome_refs/testvcf.nostars.vcf.gz.tbi'
    chrX = 'NC_060947.1'
    chrY = 'NC_060948.1'
    chrMT = 'chrMT'
    diploid_haploid_ref_folder='/mnt/sas0/AD/lalli/nf_stage/genome_refs/T2T-CHM13_v2_ncbi110/hap_dip_sep_refs'
    force_resume=true

    skip_mbv=true
    gencode=false
    deseq2_vst=true
    skip_trimming=true
    skip_fastqc=true
    skip_biotype_qc=false
    skip_rseqc=false
    skip_alignment=true
    pseudo_aligner='salmon'
    bootstrap_counts=100
    use_personalized_references=true
    save_personalized_references = true
    featurecounts_group_type   = 'gene_biotype'
    rseqc_modules = 'bam_stat,inner_distance,infer_experiment,junction_annotation,junction_saturation,read_distribution,read_duplication'
}

includeConfig '/mnt/sas0/AD/lalli/nf_stage/rnaseq_JLL/conf/deepthought.config'
// includeConfig '/mnt/sas0/AD/lalli/nf_stage/rnaseq_JLL/conf/modules.config'
