includeConfig (!params.skip_alignment && !params.skip_markduplicates && !params.with_umi) ? "../modules/nf-core/picard/markduplicates/nextflow.config" : '/dev/null/'
includeConfig (!params.skip_alignment && !params.skip_markduplicates && !params.with_umi) ? "../modules/nf-core/samtools/index/nextflow.config" : '/dev/null/'
includeConfig (!params.skip_alignment && !params.skip_markduplicates && !params.with_umi) ? "../modules/nf-core/samtools/stats/nextflow.config" : '/dev/null/'
