process {
    withName: '.*:QUANTIFY_PSEUDO_ALIGNMENT:TXIMETA_TXIMPORT' {
        ext.prefix = { "${quant_type}.merged" }
        publishDir = [
            path: { "${params.outdir}/${params.pseudo_aligner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: '.*:QUANTIFY_SALMON:SALMON_TXIMPORT' {
        publishDir = [
            path: { "${params.outdir}/salmon_quantification/tximport" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: '.*:QUANTIFY_STAR_SALMON:SALMON_TXIMPORT' {
        publishDir = [
            path: { "${params.outdir}/deseq2_qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        errorStrategy='ignore'
    }
}
