
params.generic_salmon_args = [
    '--validateMappings',
    '--gcBias',
    '--seqBias',
    '--rangeFactorizationBins 4',
    '--dumpEq',
    "--numGibbsSamples ${params.num_gibbs_samples}",
    params.extra_salmon_quant_args ?: ''
].join(' ').trim()

// potential additional/future args
// '--posBias',
// '--writeMappings=${mapping_outfile}',
// '--writeUnmappedNames=${unmapped_outfile}',

process {
    withName: '.*:QUANTIFY_PSEUDO_ALIGNMENT:SALMON_QUANT' {
        ext.args   = { [params.generic_salmon_args].join(' ').trim() }
        publishDir = [
            path: { "${params.outdir}/${params.pseudo_aligner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || filename.endsWith('_meta_info.json') || filename.endsWith('_format_counts.json') ? null : filename }
        ]
    }
    withName: '.*:QUANTIFY_SALMON:SALMON_QUANT' {
        ext.args = { """--dumpEq \\
                        --rangeFactorizationBins 4 \\
                        --validateMappings \\
                        --seqBias \\
                        --gcBias \\
                        --posBias""" }

        publishDir = [
            path: { "${params.outdir}/${params.pseudo_aligner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SALMON_QUANT' {
        ext.args   = params.generic_salmon_args
        publishDir = [
            path: { "${params.outdir}/salmon" },
            mode: params.publish_dir_mode,
            pattern: "quant.sf"
        ]
    }
} 