process {
    withName: '.*:QUANTIFY_PSEUDO_ALIGNMENT:SE_.*' {
        ext.args = '--assay_names counts,abundance'
        publishDir = [
            path: { "${params.outdir}/${params.pseudo_aligner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || filename.endsWith('.log') ? null : filename }
        ]
    }
    withName: '.*:QUANTIFY_PSEUDO_ALIGNMENT:SE_GENE' {
        ext.prefix = { "${params.pseudo_aligner}.merged.gene_counts" }
    }
    withName: '.*:QUANTIFY_PSEUDO_ALIGNMENT:SE_GENE_SCALED' {
        ext.prefix = { "${params.pseudo_aligner}.merged.gene_counts_scaled" }
    }
    withName: '.*:QUANTIFY_PSEUDO_ALIGNMENT:SE_GENE_LENGTH_SCALED' {
        ext.prefix = { "${params.pseudo_aligner}.merged.gene_counts_length_scaled" }
    }
    withName: '.*:QUANTIFY_PSEUDO_ALIGNMENT:SE_TRANSCRIPT' {
        ext.prefix = { "${params.pseudo_aligner}.merged.transcript_counts" }
    }
    withName: '.*:QUANTIFY_SALMON:SALMON_SE_.*' {
        publishDir = [
            path: { "${params.outdir}/salmon_quantification/se" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: '.*:QUANTIFY_STAR_SALMON:SALMON_SE_.*' {
        publishDir = [
            path: { "${params.outdir}/deseq2_qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        errorStrategy='ignore'
    }
}
