process {
    withName: 'STAR_GENOMEGENERATE' {
        ext.args   = ["--runMode genomeGenerate",
                      "--runThreadN ${task.cpus}"].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/star" },
            mode: params.publish_dir_mode,
            pattern: "*.out"
        ]
    }
}