/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

//
// General configuration options
//

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'SAMPLESHEET_CHECK' {
        publishDir = [
            path: { "${params.outdir}/QC_reports/nextflow_log/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
        publishDir = [
            path: { "${params.outdir}/QC_reports/nextflow_log" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }


    //
    // Genome preparation options
    //

    withName: 'GUNZIP_.*|MAKE_TRANSCRIPTS_FASTA' {
        publishDir = [
            path: { "${params.outdir}/reference_genome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
            errorStrategy = 'ignore'
    }

    withName: 'UNTAR_.*' {
        ext.args2 = '--no-same-owner'
    }

    withName: 'UNTAR_.*|STAR_GENOMEGENERATE|STAR_GENOMEGENERATE_IGENOMES|HISAT2_BUILD' {
        publishDir = [
            path: { "${params.outdir}/reference_genome/${meta.sample}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }
    withName: 'STAR_GENOMEGENERATE.*' {
        ext.args = '--sjdbOverhang 149'
    }

    withName: 'GFFREAD' {
        ext.args   = '--keep-exon-attrs -F -T'
        publishDir = [
            path: { "${params.outdir}/reference_genome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }

    withName: 'HISAT2_EXTRACTSPLICESITES' {
        publishDir = [
            path: { "${params.outdir}/reference_genome/${meta.sample}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }


    withName: 'RSEM_PREPAREREFERENCE_GENOME' {
        ext.args   = '--star'
        publishDir = [
            path: { "${params.outdir}/reference_genome/${meta.sample}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }

    withName: 'GTF2BED' {
        publishDir = [
            path: { "${params.outdir}/reference_genome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }

    withName: 'CAT_ADDITIONAL_FASTA|PREPROCESS_TRANSCRIPTS_FASTA_GENCODE' {
        publishDir = [
            path: { "${params.outdir}/reference_genome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }

    withName: 'GTF_GENE_FILTER' {
        publishDir = [
            path: { "${params.outdir}/reference_genome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }

    withName: 'CUSTOM_GETCHROMSIZES' {
        publishDir = [
            path: { "${params.outdir}/reference_genome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }

    withName: 'CAT_FASTQ' {
        publishDir = [
            path: { "${params.outdir}/reference_genome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_merged_fastq
        ]
    }
}

params.rseqc_modules_list = params.rseqc_modules ? params.rseqc_modules.split(',').collect { it.trim().toLowerCase() } : []


includeConfig (params.use_personalized_references) ? "../modules/local/g2gtools/vcf2vci/nextflow.config" : "/dev/null"
includeConfig (params.use_personalized_references) ? "../modules/local/g2gtools/convert/nextflow.config" : "/dev/null"
includeConfig (params.use_personalized_references) ? "../modules/local/g2gtools/patchref/nextflow.config" : "/dev/null"
includeConfig (params.use_personalized_references) ? "../modules/local/g2gtools/transform/nextflow.config" : "/dev/null"
includeConfig (params.use_personalized_references) ? "../modules/local/g2gtools/gtf2db/nextflow.config" : "/dev/null"
includeConfig (params.use_personalized_references) ? "../modules/local/g2gtools/extract/nextflow.config" : "/dev/null"
includeConfig (params.use_personalized_references) ? "../modules/local/g2gtools/merge_diploid_haploid_refs.config" : "/dev/null"


includeConfig (!params.skip_bbsplit && params.bbsplit_fasta_list) ? "../modules/local/bbmap/bbsplit/nextflow.config" : "/dev/null"

//
// Read QC and trimming options
//

includeConfig (!(params.skip_fastqc || params.skip_qc)) ? "../modules/nf-core/fastqc/nextflow.config" : "/dev/null"

//
// Contaminant removal options
//
includeConfig (!params.skip_bbsplit) ? "../modules/nf-core/bbmap/bbsplit/nextflow.config" : "/dev/null"

includeConfig (!params.remove_ribo_rna) ? "../modules/nf-core/sortmerna/nextflow.config" : "/dev/null"

// //
// // Leafcutter options
// //
// includeConfig (!params.skip_leafcutter) ? "../modules/local/leafcutter/nextflow.config" : "/dev/null"

//
// General alignment options
//
includeConfig (!params.skip_alignment) ? "../modules/nf-core/samtools/sort/nextflow.config" : "/dev/null"
includeConfig (!params.skip_alignment) ? "../modules/nf-core/samtools/index/nextflow.config" : "/dev/null"

includeConfig (!params.skip_markduplicates) ? "../modules/nf-core/picard/markduplicates/nextflow.config" : "/dev/null"
includeConfig (!params.skip_markduplicates) ? "../modules/nf-core/samtools/index/nextflow.config" : "/dev/null"
includeConfig (!params.skip_markduplicates) ? "../modules/nf-core/samtools/stats/nextflow.config" : "/dev/null"

    // if (!params.skip_alignment && !params.skip_intron_coverage){
    //     process {
    //         withName: 'NFCORE_RNASEQ:RNASEQ:SAMTOOLS_STATS_EXONS' {
    //             ext.prefix = { "${meta.id}.exons" }
    //             publishDir = [
    //                 path: { "${params.outdir}/${params.aligner}/samtools_stats/exons" },
    //                 mode: params.publish_dir_mode,
    //                 pattern: '*.{stats,flagstat,idxstats}'
    //             ]
    //         }

    //         withName: 'NFCORE_RNASEQ:RNASEQ:SAMTOOLS_STATS_INTRONS' {
    //             ext.prefix = { "${meta.id}.introns" }
    //             publishDir = [
    //                 path: { "${params.outdir}/${params.aligner}/samtools_stats/introns" },
    //                 mode: params.publish_dir_mode,
    //                 pattern: '*.{stats,flagstat,idxstats}'
    //             ]
    //         }

    //         withName: 'NFCORE_RNASEQ:RNASEQ:SAMTOOLS_STATS_INTERGENIC' {
    //             ext.prefix = { "${meta.id}.intergenic" }
    //             publishDir = [
    //                 path: { "${params.outdir}/${params.aligner}/samtools_stats/intergenic" },
    //                 mode: params.publish_dir_mode,
    //                 pattern: '*.{stats,flagstat,idxstats}'
    //             ]
    //         }
    //     }
    // }
includeConfig (params.with_umi && (params.aligner == 'star_salmon' || params.aligner == 'hisat2')) ? "../modules/nf-core/umitools/dedup/nextflow.config" : "/dev/null"
includeConfig (params.with_umi && (params.aligner == 'star_salmon' || params.aligner == 'hisat2')) ? "../modules/nf-core/samtools/index/nextflow.config" : "/dev/null"
includeConfig (params.with_umi && (params.aligner == 'star_salmon' || params.aligner == 'hisat2')) ? "../modules/nf-core/samtools/stats/nextflow.config" : "/dev/null"

includeConfig (!params.skip_bigwig) ? "../modules/nf-core/bedtools/genomecov/nextflow.config" : "/dev/null"
includeConfig (!params.skip_bigwig) ? "../modules/nf-core/ucsc/bedgraphtobigwig/nextflow.config" : "/dev/null"
includeConfig (!params.skip_bigwig) ? "../modules/nf-core/ucsc/bedclip/nextflow.config" : "/dev/null"

//
// Stringtie alignment options
//
includeConfig (!params.skip_stringtie) ? "../modules/nf-core/stringtie/stringtie/nextflow.config" : "/dev/null"


//
// STAR Salmon alignment options
//
includeConfig (!params.skip_alignment && params.aligner == 'star_salmon') ? "../modules/nf-core/star/align/nextflow.config" : "/dev/null"
includeConfig (!params.skip_alignment && params.aligner == 'star_salmon') ? "../modules/local/star_align_igenomes/nextflow.config" : "/dev/null"
includeConfig (!params.skip_alignment && params.aligner == 'star_salmon') ? "../modules/nf-core/salmon/quant/nextflow.config" : "/dev/null"
includeConfig (!params.skip_alignment && params.aligner == 'star_salmon') ? "../modules/nf-core/summarizedexperiment/summarizedexperiment/nextflow.config" : "/dev/null"
includeConfig (!params.skip_alignment && params.aligner == 'star_salmon') ? "../modules/nf-core/tximeta/tximport/nextflow.config" : "/dev/null"
includeConfig (!params.skip_alignment && params.aligner == 'star_salmon') ? "../modules/nf-core/custom/tx2gene/nextflow.config" : "/dev/null"
includeConfig ((!params.skip_qc & !params.skip_deseq2_qc) && (!params.skip_alignment && params.aligner == 'star_salmon')) ? "../modules/local/deseq2_qc/nextflow.config" : "/dev/null"

includeConfig ((params.with_umi) && (!params.skip_alignment && params.aligner == 'star_salmon')) ? "../modules/nf-core/samtools/sort/nextflow.config" : "/dev/null"
includeConfig ((params.with_umi) && (!params.skip_alignment && params.aligner == 'star_salmon')) ? "../modules/nf-core/umitools/prepareforrsem/nextflow.config" : "/dev/null"
includeConfig ((params.with_umi) && (!params.skip_alignment && params.aligner == 'star_salmon')) ? "../modules/nf-core/samtools/index/nextflow.config" : "/dev/null"
includeConfig ((params.with_umi) && (!params.skip_alignment && params.aligner == 'star_salmon')) ? "../modules/nf-core/samtools/stats/nextflow.config" : "/dev/null"





//
// STAR RSEM alignment options
//

includeConfig (!params.skip_alignment && params.aligner == 'star_rsem') ? "../modules/nf-core/rsem/calculateexpression/nextflow.config" : "/dev/null"
includeConfig (!params.skip_alignment && params.aligner == 'star_rsem') ? "../modules/local/rsem_merge_counts/nextflow.config" : "/dev/null"
includeConfig ((!params.skip_alignment && params.aligner == 'star_rsem') && (!params.skip_qc && ! params.skip_deseq2_qc)) ? "../modules/local/deseq2_qc/nextflow.config" : "/dev/null"

//
// HISAT2 alignment options
//

includeConfig (!params.skip_alignment && params.aligner == 'hisat2') ? "../modules/nf-core/hisat2/align/nextflow.config" : "/dev/null"

//
// Post-alignment QC options
//
includeConfig ((!params.skip_alignment && !params.skip_qc) && !params.skip_preseq) ? "../modules/nf-core/preseq/lcextrap/nextflow.config" : "/dev/null"

includeConfig ((!params.skip_alignment && !params.skip_qc) && !params.skip_qualimap) ? "../modules/nf-core/qualimap/rnaseq/nextflow.config" : "/dev/null"

includeConfig ((!params.skip_alignment && !params.skip_qc) && !params.skip_dupradar) ? "../modules/nf-core/dupradar/nextflow.config" : "/dev/null"

includeConfig ((!params.skip_alignment && !params.skip_qc) && (!params.skip_biotype_qc && params.featurecounts_group_type)) ? "../modules/nf-core/subread/featurecounts/nextflow.config" : "/dev/null"
includeConfig ((!params.skip_alignment && !params.skip_qc) && (!params.skip_biotype_qc && params.featurecounts_group_type)) ? "../modules/local/multiqc_custom_biotype/nextflow.config" : "/dev/null"

includeConfig ((!params.skip_alignment && !params.skip_qc) && (!params.skip_rseqc && 'bam_stat' in params.rseqc_modules_list)) ? "../modules/nf-core/rseqc/bamstat/nextflow.config" : "/dev/null"
includeConfig ((!params.skip_alignment && !params.skip_qc) && (!params.skip_rseqc && 'infer_experiment' in params.rseqc_modules_list)) ? "../modules/nf-core/rseqc/inferexperiment/nextflow.config" : "/dev/null"
includeConfig ((!params.skip_alignment && !params.skip_qc) && (!params.skip_rseqc && 'junction_annotation' in params.rseqc_modules_list)) ? "../modules/nf-core/rseqc/junctionannotation/nextflow.config" : "/dev/null"
includeConfig ((!params.skip_alignment && !params.skip_qc) && (!params.skip_rseqc && 'junction_saturation' in params.rseqc_modules_list)) ? "../modules/nf-core/rseqc/junctionsaturation/nextflow.config" : "/dev/null"
includeConfig ((!params.skip_alignment && !params.skip_qc) && (!params.skip_rseqc && 'read_duplication' in params.rseqc_modules_list)) ? "../modules/nf-core/rseqc/readduplication/nextflow.config" : "/dev/null"
includeConfig ((!params.skip_alignment && !params.skip_qc) && (!params.skip_rseqc && 'read_distribution' in params.rseqc_modules_list)) ? "../modules/nf-core/rseqc/readdistribution/nextflow.config" : "/dev/null"
includeConfig ((!params.skip_alignment && !params.skip_qc) && (!params.skip_rseqc && 'inner_distance' in params.rseqc_modules_list)) ? "../modules/nf-core/rseqc/innerdistance/nextflow.config" : "/dev/null"
includeConfig ((!params.skip_alignment && !params.skip_qc) && (!params.skip_rseqc && 'tin' in params.rseqc_modules_list)) ? "../modules/nf-core/rseqc/tin/nextflow.config" : "/dev/null"


//
// qtltools_mbv configuration options
//
includeConfig ( !params.skip_mbv ) ? "../modules/local/qtltools/mbv/nextflow.config" : "/dev/null"

//
// multiqc configuration options
//
includeConfig (!params.skip_multiqc) ? "../modules/nf-core/multiqc/nextflow.config" : "/dev/null"

//
// Salmon pseudo-alignment options
//
includeConfig (params.pseudo_aligner == 'salmon') ? "../modules/nf-core/salmon/quant/nextflow.config" : "/dev/null"
includeConfig (params.pseudo_aligner == 'salmon') ? "../modules/nf-core/summarizedexperiment/summarizedexperiment/nextflow.config" : "/dev/null"
includeConfig (params.pseudo_aligner == 'salmon') ? "../modules/nf-core/tximeta/tximport/nextflow.config" : "/dev/null"
includeConfig (params.pseudo_aligner == 'salmon') ? "../modules/nf-core/custom/tx2gene/nextflow.config" : "/dev/null"
includeConfig (params.pseudo_aligner == 'salmon') ? "../modules/nf-core/multiqc/nextflow.config" : "/dev/null"

//
// Deseq2-based QC options
//
includeConfig (!params.skip_qc & !params.skip_deseq2_qc) ? "../modules/local/deseq2_qc/nextflow.config" : "/dev/null"
