// Include unconditional subworkflow configs
includeConfig '../subworkflows/nf-core/fastq_qc_trim_filter_setstrandedness/nextflow.config' // '
// includeConfig 'plugin/nf-schema/nextflow.config'

// Include utility subworkflow configs
includeConfig '../subworkflows/local/utils_nfcore_rnaseq_pipeline/nextflow.config'
includeConfig '../subworkflows/nf-core/utils_nfcore_pipeline/nextflow.config'

// Include subworkflow configs conditionally
includeConfig (!params.skip_alignment && params.aligner == 'star_salmon') ? '../subworkflows/local/align_star/nextflow.config' : '/dev/null/'
includeConfig (!params.skip_alignment && params.aligner == 'star_rsem') ? '../subworkflows/local/quantify_rsem/nextflow.config' : '/dev/null/'
includeConfig (!params.skip_alignment && params.aligner == 'hisat2') ? '../subworkflows/nf-core/fastq_align_hisat2/nextflow.config' : '/dev/null/'
includeConfig (!params.skip_alignment && !params.skip_markduplicates && !params.with_umi) ? '../subworkflows/nf-core/bam_markduplicates_picard/nextflow.config' : '/dev/null/'
includeConfig (!params.skip_alignment && !params.skip_qc && !params.skip_rseqc && params.rseqc_modules?.split(',')?.size() > 0) ? '../subworkflows/nf-core/bam_rseqc/nextflow.config' : '/dev/null/'
includeConfig (!params.skip_pseudo_alignment && params.pseudo_aligner) ? '../subworkflows/nf-core/quantify_pseudo_alignment/nextflow.config' : '/dev/null/'
includeConfig (params.use_personalized_references) ? "../subworkflows/local/personalize_references/nextflow.config" : "/dev/null"
