// Include unconditional subworkflow configs
process {
    withName: '.*:FASTQ_SUBSAMPLE_FQ_SALMON:FQ_SUBSAMPLE' {
        ext.args   = '--record-count 1000000 --seed 1'
        ext.prefix = { "${meta.id}.subsampled" }
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:FASTQ_SUBSAMPLE_FQ_SALMON:SALMON_QUANT' {
        ext.args   = '--skipQuant'
        publishDir = [
            enabled: false
        ]
    }
}

// // Include subworkflow configs conditionally
// includeConfig (!params.skip_alignment && params.aligner == 'star_salmon') ? ( params.igenomes_ignore ) ?
//                '../modules/nf-core/star/align/nextflow.config' : '../modules/local/star_align_igenomes/nextflow.config' : "/dev/null"

// //quantify rsem
// includeConfig (!params.skip_alignment && params.aligner == 'star_rsem') ? "../modules/local/rsem/calculateexpression/nextflow.config" : '/dev/null/'
// includeConfig (!params.skip_alignment && params.aligner == 'star_rsem') ? "../modules/local/rsem/mergecounts/nextflow.config" : '/dev/null/'

// //quanitfy hisat2
// includeConfig (!params.skip_alignment && params.aligner == 'hisat2') ? "../modules/nf-core/hisat2/align/nextflow.config" : '/dev/null/'

// //bam_markduplicates_picard
// includeConfig (!params.skip_alignment && !params.skip_markduplicates && !params.with_umi) ? "../modules/nf-core/picard/markduplicates/nextflow.config" : '/dev/null/'
// includeConfig (!params.skip_alignment && !params.skip_markduplicates && !params.with_umi) ? "../modules/nf-core/samtools/index/nextflow.config" : '/dev/null/'
// includeConfig (!params.skip_alignment && !params.skip_markduplicates && !params.with_umi) ? "../modules/nf-core/samtools/stats/nextflow.config" : '/dev/null/'

// // bam_rseqc
// includeConfig (!params.skip_alignment && !params.skip_qc && !params.skip_rseqc && 'bam_stat' in params.rseqc_modules.split(',').collect{ it.trim().toLowerCase()}) ? "../modules/nf-core/rseqc/bamstat/nextflow.config" : '/dev/null/'
// includeConfig (!params.skip_alignment && !params.skip_qc && !params.skip_rseqc && 'infer_experiment' in params.rseqc_modules.split(',').collect{ it.trim().toLowerCase()}) ? "../modules/nf-core/rseqc/inferexperiment/nextflow.config" : '/dev/null/'
// includeConfig (!params.skip_alignment && !params.skip_qc && !params.skip_rseqc && 'junction_annotation' in params.rseqc_modules.split(',').collect{ it.trim().toLowerCase()}) ? "../modules/nf-core/rseqc/junctionannotation/nextflow.config" : '/dev/null/'
// includeConfig (!params.skip_alignment && !params.skip_qc && !params.skip_rseqc && 'junction_saturation' in params.rseqc_modules.split(',').collect{ it.trim().toLowerCase()}) ? "../modules/nf-core/rseqc/junctionsaturation/nextflow.config" : '/dev/null/'
// includeConfig (!params.skip_alignment && !params.skip_qc && !params.skip_rseqc && 'read_duplication' in params.rseqc_modules.split(',').collect{ it.trim().toLowerCase()}) ? "../modules/nf-core/rseqc/readduplication/nextflow.config" : '/dev/null/'
// includeConfig (!params.skip_alignment && !params.skip_qc && !params.skip_rseqc && 'read_distribution' in params.rseqc_modules.split(',').collect{ it.trim().toLowerCase()} && !params.bam_csi_index) ? "../modules/nf-core/rseqc/readdistribution/nextflow.config" : '/dev/null/'
// includeConfig (!params.skip_alignment && !params.skip_qc && !params.skip_rseqc && 'inner_distance' in params.rseqc_modules.split(',').collect{ it.trim().toLowerCase()} && !params.bam_csi_index) ? "../modules/nf-core/rseqc/innerdistance/nextflow.config" : '/dev/null/'
// includeConfig (!params.skip_alignment && !params.skip_qc && !params.skip_rseqc && 'tin' in params.rseqc_modules.split(',').collect{ it.trim().toLowerCase()} && !params.bam_csi_index) ? "../modules/nf-core/rseqc/tin/nextflow.config" : '/dev/null/'

// // quantify_pseudo_alignment
// includeConfig (!params.skip_pseudo_alignment && params.pseudo_aligner) ? '../subworkflows/nf-core/quantify_pseudo_alignment/nextflow.config' : '/dev/null/'
// includeConfig ((!params.skip_pseudo_alignment && params.pseudo_aligner) & params.pseudo_aligner == 'salmon') ?
//                '../../../modules/nf-core/salmon/quant/nextflow.config' : '/dev/null'
// includeConfig ((!params.skip_pseudo_alignment && params.pseudo_aligner) && params.pseudo_aligner == 'kallisto') ?
//                '../../../modules/nf-core/kallisto/quant/nextflow.config' : '/dev/null'
// includeConfig (!params.skip_pseudo_alignment && params.pseudo_aligner) ? '../modules/nf-core/custom/tx2gene/nextflow.config' : '/dev/null'
// includeConfig (!params.skip_pseudo_alignment && params.pseudo_aligner) ? '../modules/nf-core/tximeta/tximport/nextflow.config' : '/dev/null'
// includeConfig (!params.skip_pseudo_alignment && params.pseudo_aligner) ? '../modules/nf-core/summarizedexperiment/summarizedexperiment/nextflow.config' : '/dev/null'

// // personalize_references
// includeConfig (params.use_personalized_references) ? "../subworkflows/local/personalize_references/nextflow.config" : "/dev/null"
// includeConfig (params.use_personalized_references) ? "../modules/local/g2gtools/vcf2vci/nextflow.config"  : "/dev/null"
// includeConfig (params.use_personalized_references) ? "../modules/local/g2gtools/convert/nextflow.config"  : "/dev/null"
// includeConfig (params.use_personalized_references) ? "../modules/local/g2gtools/patch/nextflow.config"  : "/dev/null"
// includeConfig (params.use_personalized_references) ? "../modules/local/g2gtools/transform/nextflow.config"  : "/dev/null"
// includeConfig (params.use_personalized_references) ? "../modules/local/g2gtools/gtf2db/nextflow.config"  : "/dev/null"
// includeConfig (params.use_personalized_references) ? "../modules/local/g2gtools/extract/nextflow.config"  : "/dev/null"
// includeConfig (params.use_personalized_references) ? "../modules/local/g2gtools/merge_diploid_haploid_refs.config" : "/dev/null"

