process {
    withName: '.*:QUANTIFY_LEAFCUTTER:REGTOOLS_BAMTOJUNC' {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/leafcutter" },
            mode: params.publish_dir_mode,
            pattern: '*.leafcutter.junc'
        ]
    }
}
