includeConfig (!(params.skip_fastqc || params.skip_qc) && params.trimmer == 'trimgalore') ? 
                    '../modules/nf-core/fastqc/nextflow.config' : '/dev/null'

includeConfig (!params.skip_trimming && params.trimmer == 'trimgalore') ?
                        '../modules/nf-core/trimgalore/nextflow.config' : '/dev/null'

includeConfig (params.with_umi && !params.skip_umi_extract) ? 
              '../modules/nf-core/umitools/extract/nextflow.config' : '/dev/null'
