process {
    withName: 'MERGE_DIPLOID_HAPLOID_REFS'{
        publishDir = [
            path: { "${params.outdir}/reference_genome/${meta.id}" },
            mode: params.publish_dir_mode,
            enabled: params.save_personalized_references,
            pattern: "*.{fa.gz,fai,gzi,gtf,gtf.gz,vci.gz,tbi}"
        ]
    }
}
