includeConfig (params.pseudo_aligner == 'salmon') ?
               '../../../modules/nf-core/salmon/quant/nextflow.config' : '/dev/null'

includeConfig (params.pseudo_aligner == 'kallisto') ?
               '../../../modules/nf-core/kallisto/quant/nextflow.config' : '/dev/null'

includeConfig '../../../modules/nf-core/custom/tx2gene/nextflow.config'

includeConfig '../../../modules/nf-core/tximeta/tximport/nextflow.config'

includeConfig '../../../modules/nf-core/summarizedexperiment/summarizedexperiment/nextflow.config'
