process {
    withName: 'FASTP' {
        ext.args   = '--detect_adapter_for_pe --qualified_quality_phred 20 --length_required 20'
        publishDir = [
            path: { "${params.outdir}/fastp" },
            mode: params.publish_dir_mode,
            pattern: "*.fastq.gz"
        ]
    }

    withName: 'FASTP_UMITOOLS' {
        ext.args   = '--detect_adapter_for_pe --qualified_quality_phred 20 --length_required 20'
        publishDir = [
            path: { "${params.outdir}/fastp" },
            mode: params.publish_dir_mode,
            pattern: "*.fastq.gz"
        ]
    }

    withName: '.*:FASTQ_FASTQC_UMITOOLS_FASTP:FASTP' {
        ext.args   = { params.extra_fastp_args ?: '' }
        publishDir = [
            [
                path: { "${params.outdir}/${params.trimmer}" },
                mode: params.publish_dir_mode,
                pattern: "*.{json,html}"
            ],
            [
                path: { "${params.outdir}/${params.trimmer}/log" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ],
            [
                path: { params.save_trimmed ? "${params.outdir}/${params.trimmer}" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: "*.fastq.gz",
                saveAs: { params.save_trimmed ? it : null }
            ]
        ]
    }
}
