includeConfig "../../../modules/local/g2gtools/vcf2vci/nextflow.config"
includeConfig "../../../modules/local/g2gtools/convert/nextflow.config"
includeConfig "../../../modules/local/g2gtools/patch/nextflow.config"
includeConfig "../../../modules/local/g2gtools/transform/nextflow.config"
includeConfig "../../../modules/local/g2gtools/gtf2db/nextflow.config"
includeConfig "../../../modules/local/g2gtools/extract/nextflow.config"
includeConfig "../../../modules/local/g2gtools/merge_diploid_haploid_refs.config"
