process {
    withName: 'NFCORE_RNASEQ:RNASEQ:.*:BAM_SORT_SAMTOOLS:SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}.sorted" }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}" },
            mode: params.publish_dir_mode,
            pattern: "*.bam",
            enabled: ( ['star_salmon','hisat2'].contains(params.aligner) &&
                ( params.save_align_intermeds ||
                    ( !params.with_umi && params.skip_markduplicates )
                )
            ) || params.save_align_intermeds || params.skip_markduplicates
        ]
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:SAMTOOLS_SORT' {
        ext.args   = '-n'
        ext.prefix = { "${meta.id}.umi_dedup.transcriptome" }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}" },
            enabled: false
        ]
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_SORT_SAMTOOLS:SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}.transcriptome.sorted" }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}" },
            enabled: false
        ]
    }
}
