process {
    withName: '.*:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:TRIMGALORE' {
        ext.args = {
            def preset_args = "--fastqc_args '-t ${task.cpus}'"
            def extra_args = params.extra_trimgalore_args ?: ''
            "${preset_args} ${extra_args}".trim()
        }
        ext.prefix = { "${meta.id}_trimmed" }
        publishDir = [
            [
                path: { "${params.outdir}/fastqc/trim" },
                mode: params.publish_dir_mode,
                pattern: "*.{html,zip}"
            ],
            [
                path: { params.save_trimmed ? "${params.outdir}/${params.trimmer}" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: "*.fq.gz",
                saveAs: { params.save_trimmed ? it : null }
            ],
            [
                path: { "${params.outdir}/${params.trimmer}" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
            ]
        ]
    }
}

