process {
    withName: 'KALLISTO_QUANT' {
        ext.args   = "--bias --bootstrap-samples=${params.num_gibbs_samples}"
        publishDir = [
            path: { "${params.outdir}/kallisto" },
            mode: params.publish_dir_mode,
            pattern: "abundance.tsv"
        ]
    }

    withName: 'KALLISTO_INDEX' {
        ext.args   = '--kmer-size 31'
        publishDir = [
            path: { "${params.outdir}/kallisto" },
            mode: params.publish_dir_mode,
            pattern: "*.idx"
        ]
    }
} 

process {
    withName: '.*:QUANTIFY_PSEUDO_ALIGNMENT:KALLISTO_QUANT' {
        ext.args = params.extra_kallisto_quant_args ?: ''
        publishDir = [
            path: { "${params.outdir}/${params.pseudo_aligner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || filename.endsWith('.run_info.json') || filename.endsWith('.log') ? null : filename }
        ]
    }
}
