process {
    withName: 'SORTMERNA' {
        ext.args   = '--num_alignments 1 --fastx -v'
        publishDir = [
            [
                path: { "${params.outdir}/sortmerna" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ],
            [
                path: { "${params.outdir}/sortmerna" },
                mode: params.publish_dir_mode,
                pattern: "*.fastq.gz",
                enabled: params.save_non_ribo_reads
            ]
        ]
    }
    withName: 'SORTMERNA_INDEX' {
        ext.args   = '--index 1'
        publishDir = [
            path: { params.save_reference ? "${params.outdir}/genome/sortmerna" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : params.save_reference ? filename : null }
        ]
    }
}
