process {
    // used to identify read strandedness protocol; can be super simple
    withName: '.*:PREPARE_GENOME:SALMON_INDEX' {
        ext.args = ["--kmerLen ${params.pseudo_aligner_kmer_size}",
                    params.gencode ? '--gencode' : '',
                    ].join(' ').trim()
        publishDir = [
            path: { params.save_reference ? "${params.outdir}/genome/index" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml' && params.save_reference) ? filename : null }
        ]
    }
    withName: '.*:PERSONALIZE_REFERENCES:SALMON_INDEX' {
        ext.args = ['--keepDuplicates',
                    "--kmerLen ${params.pseudo_aligner_kmer_size}"].join(' ').trim()
            publishDir = params.save_personalized_references ?
                [
                    path: { "${params.outdir}/reference_genome/${meta.id}" },
                    mode: params.publish_dir_mode
                ]
            : params.save_reference ?   [
                                            path: { "${params.outdir}/reference_genome/" },
                                            mode: params.publish_dir_mode
                                        ]
            : null
    }
}