process {
    withName: '.*:BEDGRAPH_TO_BIGWIG_FORWARD:UCSC_BEDCLIP' {
        ext.prefix = { "${meta.id}.clip.forward" }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}" },
            enabled: false
        ]
    }
    withName: '.*:BEDGRAPH_TO_BIGWIG_REVERSE:UCSC_BEDCLIP' {
        ext.prefix = { "${meta.id}.clip.reverse" }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}" },
            enabled: false
        ]
    }
}