process {
    withName: '.*:BAM_MARKDUPLICATES_PICARD:SAMTOOLS_INDEX' {
        ext.args   = { params.bam_csi_index ? '-c' : '' }
        ext.prefix = { "${meta.id}.markdup.sorted" }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}" },
            mode: params.publish_dir_mode,
            pattern: '*.{bai,csi}'
        ]
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:.*:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_INDEX' {
        ext.args   = { params.bam_csi_index ? '-c' : '' }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}" },
            mode: params.publish_dir_mode,
            pattern: "*.{bam,csi}",
            enabled: ( ['star_salmon','hisat2'].contains(params.aligner) &&
                ( params.save_align_intermeds ||
                    ( !params.with_umi && params.skip_markduplicates )
                )
            ) || params.save_align_intermeds || params.skip_markduplicates
        ]
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:BAM_SORT_SAMTOOLS:SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/${params.aligner}" },
            enabled: false
        ]
    }
    withName: '.*:DEDUP_UMI_UMITOOLS_TRANSCRIPTOME:SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/${params.aligner}" },
            enabled: false
        ]
    }

    withName: '.*:DEDUP_UMI_UMITOOLS_GENOME:SAMTOOLS_INDEX' {
        ext.args   = params.bam_csi_index ? '-c' : ''
        ext.prefix = { "${meta.id}.umi_dedup.sorted" }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}" },
            mode: params.publish_dir_mode,
            pattern: '*.{bai,csi}',
            enabled: (
                params.save_align_intermeds ||
                params.skip_markduplicates ||
                params.save_umi_intermeds
            )
        ]
    }
}