// def rseqc_modules = params.rseqc_modules ? params.rseqc_modules.split(',').collect{ it.trim().toLowerCase() } : []

includeConfig (!params.skip_alignment && !params.skip_qc && !params.skip_rseqc && 'bam_stat' in params.rseqc_modules.split(',').collect{ it.trim().toLowerCase()}) ? "../modules/nf-core/rseqc/bamstat/nextflow.config" : '/dev/null/'
includeConfig (!params.skip_alignment && !params.skip_qc && !params.skip_rseqc && 'infer_experiment' in params.rseqc_modules.split(',').collect{ it.trim().toLowerCase()}) ? "../modules/nf-core/rseqc/inferexperiment/nextflow.config" : '/dev/null/'
includeConfig (!params.skip_alignment && !params.skip_qc && !params.skip_rseqc && 'junction_annotation' in params.rseqc_modules.split(',').collect{ it.trim().toLowerCase()}) ? "../modules/nf-core/rseqc/junctionannotation/nextflow.config" : '/dev/null/'
includeConfig (!params.skip_alignment && !params.skip_qc && !params.skip_rseqc && 'junction_saturation' in params.rseqc_modules.split(',').collect{ it.trim().toLowerCase()}) ? "../modules/nf-core/rseqc/junctionsaturation/nextflow.config" : '/dev/null/'
includeConfig (!params.skip_alignment && !params.skip_qc && !params.skip_rseqc && 'read_duplication' in params.rseqc_modules.split(',').collect{ it.trim().toLowerCase()}) ? "../modules/nf-core/rseqc/readduplication/nextflow.config" : '/dev/null/'
includeConfig (!params.skip_alignment && !params.skip_qc && !params.skip_rseqc && 'read_distribution' in params.rseqc_modules.split(',').collect{ it.trim().toLowerCase()} && !params.bam_csi_index) ? "../modules/nf-core/rseqc/readdistribution/nextflow.config" : '/dev/null/'
includeConfig (!params.skip_alignment && !params.skip_qc && !params.skip_rseqc && 'inner_distance' in params.rseqc_modules.split(',').collect{ it.trim().toLowerCase()} && !params.bam_csi_index) ? "../modules/nf-core/rseqc/innerdistance/nextflow.config" : '/dev/null/'
includeConfig (!params.skip_alignment && !params.skip_qc && !params.skip_rseqc && 'tin' in params.rseqc_modules.split(',').collect{ it.trim().toLowerCase()} && !params.bam_csi_index) ? "../modules/nf-core/rseqc/tin/nextflow.config" : '/dev/null/'
